---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import Image from '~/components/common/Image.astro';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
}

const {
  subtitle = await Astro.slots.render('subtitle'),

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div class="max-w-3xl mx-auto text-center p-6 flex justify-center items-center flex-col">
    <div class="h-[50%] mb-5">
      <Image
        class="mx-auto w-[100px] rounded-lg bg-gray-500 shadow-lg"
        width={500}
        height={500}
        widths={[400, 768]}
        sizes="(max-width: 768px) 100vw, 432px"
        layout="responsive"
        src={'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80'}
        alt={'Colorful Image'}
        loading="eager"
      />
    </div>
    <p class="p-5 text-xl text-muted dark:text-slate-400" set:html={subtitle} />
  </div>
</WidgetWrapper>
