---
import { Icon } from 'astro-icon/components';
import i18next, { t } from 'i18next';
import { SOCIAL_LINKS } from '~/constants/commons';

const { lang } = Astro.params;
await i18next.changeLanguage(lang);
---

<!-- TODO: Add translate -65px once linkendin icon is added -->
<div class="fixed left-0 bottom-[20px] lg:bottom-[15%] z-[100] transform -rotate-90 translate-x-[-20px] lg:translate-x-[-50px]">
  <div class="flex justify-center items-center gap-1 p-0 lg:p-2 bg-green-500">
    <div class="hidden lg:block text-black uppercase text-base">{t('followTag')}</div>
    {
      SOCIAL_LINKS.length ? (
        <ul class="flex ml-[24px] mr-[24px] mt-1 lg:ml-1 lg:mr-0 lg:mt-auto">
          {SOCIAL_LINKS.map(({ ariaLabel, href, icon }) => (
            <li>
              <a
                class="text-black hover:text-white transition ease-in duration-200 rounded-lg text-sm p-1 inline-flex items-center"
                aria-label={ariaLabel}
                href={href}
                target="_blank"
              >
                {icon && <Icon name={icon} class="w-5 h-5" />}
              </a>
            </li>
          ))}
        </ul>
      ) : (
        ''
      )
    }
  </div>
</div>
