---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { Widget } from '~/types';

import HighlightText from '../common/HighlightText.astro';
import ManAsset from '../react/assets/ManAsset';
import NoteAsset from '../react/assets/NoteAsset';
import CheckAsset from '../react/assets/CheckAsset';

type Props = Widget;

const { id, classes = {} } = Astro.props;
---

<WidgetWrapper id={id} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`}>
  <div class="mx-auto text-center flex justify-center items-center flex-col gap-[150px] py-[150px] px-6">
    <HighlightText
      translateKey="services.message"
      className="relative max-w-xl p-5 text-5xl uppercase font-primary"
      highlightClassName="font-secondary"
    >
      <div class="absolute top-[-100px] right-[100px] md:top-[-120px] md:right-[-50px]">
        <ManAsset />
      </div>
      <div class="hidden md:block md:absolute md:top-[200px] md:left-[45px]">
        <NoteAsset />
      </div>
      <div class="absolute bottom-[-100px] right-[0px] md:bottom-[-120px] md:right-[50pxpx]">
        <CheckAsset />
      </div>
    </HighlightText>
  </div>
</WidgetWrapper>
