---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { Widget } from '~/types';

import HighlightText from '../common/HighlightText.astro';
import ManAsset from '../react/assets/ManAsset';
import NoteAsset from '../react/assets/NoteAsset';
import CheckAsset from '../react/assets/CheckAsset';
import ImageRow from '../common/ImageRow.astro';

type Props = Widget;

const { id, classes = {} } = Astro.props;
---

<div class="!overflow-hidden">
  <ImageRow
    colorClass="bg-purple-500"
    rotateClass="lg:rotate-[-2deg]"
    images={[
      '/images/topRow/2.jpg',
      '/images/topRow/3.jpeg',
      '/images/topRow/4.jpg',
      '/images/topRow/5.jpg',
      '/images/topRow/6.jpg',
      '/images/topRow/7.JPG',
    ]}
  />

  <WidgetWrapper
    id={id}
    containerClass={`max-w-6xl mx-auto mt-[100px] lg:mt-[100px] mb-[100px] lg:mb-[300px] ${classes?.container ?? ''}`}
  >
    <div class="mx-auto text-center flex justify-center items-center flex-col gap-[130px] py-[130px] px-6">
      <HighlightText
        translateKey="services.message"
        className="relative max-w-3xl p-5 text-4xl lg:text-5xl uppercase font-primary"
        highlightClassName="font-secondary"
      >
        <div class="absolute top-[-80px] right-[100px] lg:top-[-120px] lg:right-[-50px] scale-75 lg:scale-100">
          <ManAsset />
        </div>
        <div class="hidden lg:block lg:absolute lg:top-[150px] lg:left-[45px]">
          <NoteAsset />
        </div>
        <div class="absolute bottom-[-60px] right-[0px] lg:bottom-[-120px] lg:right-[50px] scale-75 lg:scale-100">
          <CheckAsset />
        </div>
      </HighlightText>
    </div>
  </WidgetWrapper>

  <ImageRow
    colorClass="bg-orange-500"
    rotateClass="lg:rotate-[2deg]"
    offsetClass="ml-[150px] lg:ml-[350px]"
    images={[
      '/images/bottomRow/2.jpg',
      '/images/bottomRow/3.jpg',
      '/images/bottomRow/4.jpg',
      '/images/bottomRow/5.jpg',
      '/images/bottomRow/6.jpg',
      '/images/bottomRow/7.jpg',
    ]}
  />
</div>
