---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { Widget } from '~/types';

import HighlightText from '../common/HighlightText.astro';
import ManAsset from '../react/assets/ManAsset';
import NoteAsset from '../react/assets/NoteAsset';
import CheckAsset from '../react/assets/CheckAsset';

type Props = Widget;

const { id, classes = {} } = Astro.props;
---

<WidgetWrapper id={id} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`}>
  <div class="mx-auto text-center flex justify-center items-center flex-col gap-[130px] py-[130px] px-6">
    <HighlightText
      translateKey="services.message"
      className="relative max-w-3xl p-5 text-3xl lg:text-5xl uppercase font-primary"
      highlightClassName="font-secondary"
    >
      <div class="absolute top-[-100px] right-[100px] lg:top-[-120px] lg:right-[-50px]">
        <ManAsset />
      </div>
      <div class="hidden lg:block lg:absolute lg:top-[200px] lg:left-[45px]">
        <NoteAsset />
      </div>
      <div class="absolute bottom-[-100px] right-[0px] lg:bottom-[-120px] lg:right-[50pxpx]">
        <CheckAsset />
      </div>
    </HighlightText>
  </div>
</WidgetWrapper>
