---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import { getCollection } from 'astro:content';
import TeamContainer from '../team/TeamContainer';

export const prerender = true;

const team = await getCollection('team');

const formattedTeam = team.map(member => ({
  ...member.data,
  id: member.id,
  description: member.rendered?.html || member.body
}))

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
}

const { id, isDark = false, classes = {}, bg = await Astro.slots.render('bg') } = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div class="max-w-3xl mx-auto text-center p-6 flex justify-center items-center flex-col">
    <TeamContainer client:visible team={formattedTeam}  />
  </div>
</WidgetWrapper>
