---
import { Image } from 'astro:assets';
import { twMerge } from 'tailwind-merge';

const { colorClass, rotateClass, images, offsetClass } = Astro.props;
---

<div
  class={twMerge(
    'absolute z-50 overflow-x-hidden w-full lg:w-[calc(100%+300px)] transform rotate-0 translate-x-0 lg:translate-x-[-150px] translate-y-[-100px] lg:translate-y-[-250px] pointer-events-none',
    rotateClass,
    colorClass
  )}
>
  <div class={twMerge('flex justify-center items-center whitespace-nowrap gap-2 p-2', offsetClass)}>
    {
      images.map((image) => (
        <Image
          src={image}
          alt="Home"
          width={500}
          height={260}
          class="shrink-0 aspect-[16/9] h-[160px] w-[230px] lg:h-[280px] lg:w-[500px]"
        />
      ))
    }
  </div>
</div>
