@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow-x: hidden;
    overscroll-behavior-x: none;
  }

  @font-face {
    font-family: 'Delight';
    src: url(/fonts/Delight-ExtraBold.woff2) format('woff2');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Delight';
    src: url(/fonts/Delight-Medium.woff2) format('woff2');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Delight';
    src: url(/fonts/Delight-SemiBold.woff2) format('woff2');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Delight';
    src: url(/fonts/Delight-Regular.woff2) format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'IvyPrestoHeadline';
    src: url(/fonts/IvyPrestoHeadline-Bold.woff2) format('woff2');
    font-weight: 800;
  }

  @font-face {
    font-family: 'IvyPrestoHeadline';
    src: url(/fonts/IvyPrestoHeadline-SemiBold.woff2) format('woff2');
    font-weight: 600;
  }

  @font-face {
    font-family: 'IvyPrestoHeadline';
    src: url(/fonts/IvyPrestoHeadline-Regular.otf) format('woff2');
    font-weight: 400;
  }
}

@layer components {
  .text-muted {
    @apply text-gray-400;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-full border-white text-white uppercase text-base border bg-transparent font-semibold text-center leading-snug transition py-1 px-3 ease-in duration-200 cursor-pointer hover:bg-orange-500 hover:border-orange-500;
  }

  .btn-icon {
    @apply bg-orange-500 hover:bg-white ease-in duration-200 cursor-pointer rounded;
  }

  .btn-secondary {
    @apply btn text-black border-black hover:border-green-500 hover:bg-green-500;
  }

  .btn-header {
    @apply btn text-orange-500 border-orange-500 hover:text-white;
  }

  .soc-icon {
    @apply text-black hover:text-white transition ease-in duration-200;
  }

  .font-primary {
    @apply font-extrabold;
    font-family: 'Delight', sans-serif;
  }

  .font-secondary {
    @apply font-normal;
    font-family: 'IvyPrestoHeadline', sans-serif;
  }

  .font-delight {
    font-family: 'Delight', sans-serif;
  }

  .font-ivypresto {
    font-family: 'IvyPrestoHeadline', sans-serif;
  }

  .dna-description {
    @apply font-raleway font-medium;
  }
}

#header.scroll > div:first-child {
  @apply bg-black border-b border-gray-500/20;
  box-shadow: none;
}

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

.swiper-pagination {
  top: 0px !important;
  height: 30px !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}
