@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Delight';
    src: url(/fonts/Delight-ExtraBold.woff2) format('woff2');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Delight';
    src: url(/fonts/Delight-Medium.woff2) format('woff2');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Delight';
    src: url(/fonts/Delight-SemiBold.woff2) format('woff2');
    font-weight: 600;
  }
}

@layer components {
  .text-muted {
    @apply text-gray-400;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-full border-white text-white uppercase text-base border bg-transparent font-semibold text-center leading-snug transition py-1 px-3 ease-in duration-200 cursor-pointer hover:bg-orange-500 hover:border-orange-500;
  }

  .btn-icon {
    @apply bg-orange-500 hover:bg-white ease-in duration-200 cursor-pointer rounded;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .font-primary {
    @apply font-extrabold;
    font-family: 'Delight', sans-serif;
  }

  .font-secondary {
    @apply font-raleway font-normal;
  }

  .font-delight {
    font-family: 'Delight', sans-serif;
  }

  .dna-description {
    @apply font-raleway font-medium;
  }
}

#header.scroll > div:first-child {
  @apply bg-black border-b border-gray-500/20;
  box-shadow: none;
}

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

.swiper-pagination {
  top: 0px !important;
  height: 30px !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

.prose h2 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.prose a {
  color: var(--aw-color-text-muted);
  text-decoration: none;
  font-weight: 500;
  transition:
    color 0.2s ease,
    text-decoration 0.2s ease;
}

.prose a:hover {
  color: var(--aw-color-primary);
  text-decoration: underline;
}
